# Url onde a API está executando
APP_URL=http://localhost:3333
FRONT_URL=http://localhost:3000

# Environment where the app is running
NODE_ENV=development

# Auth
APP_SECRET=1234

# Database

DB_HOST=postgres
DB_USER=postgres
DB_PASS=docker
DB_NAME=barbershop

# Mongo
MONGO_URL=mongo://mongo:27017/barbershop
REDIS_HOST=redis
REDIS_PORT=6379

# Redis

REDIS_URL=redis://redis:6379
REDIS_HOST=redis
REDIS_PORT=6379

# Mail (vamos pegar de config/mail.js)

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=
SECURE=

# Sentry (Mas o Sentry só faz sentido em produção, não faz sentido em desenvolvimento)

SENTRY_DSN=

# Tipo de storage (local ou s3)
STORAGE_TYPE=local

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_S3_BUCKET_NAME=
